.accendi-button{
    height: 2rem;
    border-radius: 25px;
    margin-top: 150px;
}
.accendi-button.active{
    display: none;
}
.white.active {
    display: none;
}
.yellow {
    display: none;
}
.yellow.active{
    display: block;
}
.spegni-button{
    display: none;
    
}
.spegni-button.active{
    display: block;
    height: 2rem;
    border-radius: 25px;
    margin-top: 150px;
}